[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
alembic = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.7"
